h2 {    
    text-align: center;
    margin-top: 5px;
}

h4 {
    text-align: center;
}

.canceled-reservations {
    border-radius: 5px;
    padding: 10px;
}
.no-attend-reservations {
    border-radius: 5px;
    padding: 10px;
}
.reserved-reservations {
    border-radius: 5px;
    padding: 10px;
}
.attend-reservations {
    border-radius: 5px;
    padding: 10px;
}
